<p>
    <mat-toolbar>
      <div class="left">
      <span>©Copyright 2024 Template Offerte | Seguici! 
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </span>
    </div>
    <div class="right">
      <div class="cookie">
        <a href="privacy-policy"> Privacy policy </a>| 
        <a href="cookie-policy"> Cookie policy  </a> | 
        <a (click)="mostraPannelloCookie()">Cookie setting</a>
      </div>
    </div>
    </mat-toolbar>
</p>
<p (click)="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></p>
  

<div *ngIf="mostraPannello" class="cookie-settings-panel">
  <h2>Impostazioni Cookie</h2>
  <label>
    <input type="checkbox" [(ngModel)]="essentialCookies"> Cookie Essenziali
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="analyticsCookies"> Cookie Analytics
  </label>
  <button (click)="salvaImpostazioni()">Salva Impostazioni</button>
</div>



