<body>
	<div class="banner1" id="banner1">
		<div class="icon"><i class="fa-solid fa-box"></i></div>
		<hello name="{{ name }}"></hello>
		<div class="socials" id="menu">
		  <a href="/home" (click)="navigaSezioniPrincipali()">Home</a>
		  <a href="/sezionisecondarie" (click)="navigaSezioniSecondarie()">Chi siamo</a>
		  <a href="/sezioniextra" (click)="navigaSezioniExtra()">Servizi</a>
		  <a href="/sezioniprincipali" (click)="navigaSezioniExtra()">Sezione news</a>
		  <a href="/contatti" (click)="contatti()">Contatti</a>
		</div>
		<div class="toggle-menu" (click)="toggleMenu()">☰</div>
	  </div>


	  <p>
		
	  </p>
</body>

      <app-footer></app-footer>